img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .card-container {
    display: flex;
       flex-wrap: wrap;
      
       
       justify-content: center;
  }
  
  .card {
    flex: 0 0 200px; margin: 10px;
       border: 1px solid #ccc;
       color: white;
       box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
       text-align: center;
  }
  
  .card-content {
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  