.skills {
    padding: 25px 0;
    text-align: center;
    color: black;
    background: #fcc;
  }
  
  
  .bar-graph {
    margin:20px auto;
    padding:0;
    width:50%;
    height:30px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:20px;
  }
  
  .frontend-bar, .react-bar, .bootstrap-bar, .wordpress-bar, .git-bar {
      position:relative;
    float:left;
    min-width:1%;
    height:100%;
    width: 75%;
    background:cornflowerblue;
  }

 
  
  .percent {
      position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }