.footer {
    padding: 25px 0;
    text-align: center;
    color: white;
    background: orchid;
  }

  button {
    margin:  0 15px;
  }

  /*------------------------------------------------------------------
      						RESET STYLES
-------------------------------------------------------------------*/

ul {
  list-style: none;
  padding: 0;
}

a {	
display: inline-block;
text-decoration: none;
}

/*------------------------------------------------------------------
                SECTION STYLES
-------------------------------------------------------------------*/

section { 
  margin: 50px 0;
}

section ul {
text-align: center;
}

section a {
padding: 7px;
  color: black;
}

section a:not(:first-child) {
margin-left: 20px;
}

section i {
vertical-align: middle;
transition: color .3s ease-in-out;	
}

section a:nth-child(1):hover i {
color: #3B5998;
}

section a:nth-child(2):hover i {
color: #4099FF;
}

section a:nth-child(3):hover i {
color: #007bb6;
}

section a:nth-child(4):hover i {
color: #ccc;
}

section a:nth-child(5):hover i {
color: steelblue;
}

.p {
text-align: center;
margin-top: 120px;
}